body {
  text-align: center;
  background-color: rgb(248, 246, 114);
  font-family: 'Fira Sans';
}

h1 {
  color: navy;
  margin-left: 20px;
  font-family: 'Oswald';
}

img {
  border-radius: 50px;
}
